<h1 class="text-3xl font-bold mb-6">Edit Developer Homepage</h1>
<%= render 'form', dev_home: @dev_home %>
<%= link_to 'Back', dev_home_path(@dev_home), class: 'text-sm text-indigo-600 hover:underline' %>