<p style="color: green"><%= notice %></p>

<% content_for :title, "Dev homes" %>

<h1>Dev homes</h1>

<div id="dev_homes">
  <% @dev_homes.each do |dev_home| %>
    <%= render dev_home %>
    <p>
      <%= link_to "Show this dev home", dev_home %>
    </p>
  <% end %>
</div>

<%= link_to "New dev home", new_dev_home_path %>
