<p style="color: green"><%= notice %></p>

<% content_for :title, "Dev abouts" %>

<h1>Dev abouts</h1>

<div id="dev_abouts">
  <% @dev_abouts.each do |dev_about| %>
    <%= render dev_about %>
    <p>
      <%= link_to "Show this dev about", dev_about %>
    </p>
  <% end %>
</div>

<%= link_to "New dev about", new_dev_about_path %>
